useDynLib(panpathAudit, .registration = TRUE)
importClassesFrom(S4Vectors,DataFrame,SimpleList)
importFrom(methods,is,new,setClass,setMethod,setValidity,show,validObject)
importFrom(Rcpp,evalCpp)
importFrom(S4Vectors,DataFrame,SimpleList)
export(auditGFA)
export(auditOutcomes)
export(auditProvenance)
export(auditStatistics)
export(auditSummary)
export(auditTelemetry)
exportClasses(PanPathAuditResult)
exportMethods(as.data.frame,show,summary)
